Source: libmozjs185
Priority: optional
Maintainer: Paul J. Davis (paul@cloudant.com)
Build-Depends: autotools-dev,
               debhelper (>= 7.0.15),
               zip,
               libnspr4-dev (>= 4.7.1)
Standards-Version: 3.8.3

Package: libmozjs185
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnspr4 (>= 4.7.1)
Conflicts: libmozjs7d
Description: Mozilla SpiderMonkey JavaScript library
 This library provides the embeddable JavaScript/ECMAScript engine from
 the Mozilla project (used among others by the Iceweasel (Firefox) browser
 as well as by the iPlanet WebServer).
Homepage: http://www.mozilla.org/js/

Package: libmozjs185-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libmozjs185 (= ${binary:Version}),
         libnspr4-dev (>= 4.7.1)
Description: Development files for the Mozilla SpiderMonkey JavaScript library
 This library provides the embeddable JavaScript/ECMAScript engine from
 the Mozilla project (used among others by the Iceweasel (Firefox) browser
 as well as by the iPlanet WebServer).
 .
 Install this package if you wish to develop your own programs using the
 Mozilla SpiderMonkey JavaScript library.
Homepage: http://www.mozilla.org/js/
